#titulo{
    color: green;
}

p strong{
    color: red;
}

.destacado{
    color: yellow;
}

#subtitulo{
    color: blue;
}

a{
    color: red;
}

em{
    color: blue;
}

.especial{
    color: mediumslateblue;
}

th.especial{
    color: yellow;
}

th{
    color: red;
}

td{
    color:green;
}

#adicional{
    color: yellow;
}

#especial{
    color: purple;
}

a{
    color:green;
}